[2013-11-25 22:14] mdboom opened #8 "Link to "Developer" docs"
When clicking on the drop down that says "other docs", the first entry says "developer", but it doesn't link to the "documentation for developers", it links to a nightly build of the development tree...

Maybe it's just me, but I found this confusing.  Maybe it should say "development" (as Python.org does) instead of "developer"?  Or "In development" might be even better...

[2013-11-25 23:15] #8 closed, assigned to nobody

[2013-12-06 13:43] astrofrog opened #15 "Link doesn't work"
The 'developer install instructions' link on the contribute page doesn't work, it doesn't open the right tab.

cc @eteq @kayleanelson

[2013-12-06 22:30] #15 closed, assigned to nobody

[2014-05-02 11:32] cdeil opened #27 "Document what APE and Astropy API proposals are"
@astrofrog @eteq @perrygreenfield I couldn't find any info on what the [Astropy-APEs](https://github.com/astropy/astropy-APEs) and [astropy-api](https://github.com/astropy/astropy-api) proposals are on the Astropy webpage or in the docs.

It would be very nice to have an overview table (similar to the one there is for [PEPs](http://legacy.python.org/dev/peps/) that shows some basic info (number, t

[2014-05-06 21:22] weaverba137 opened #28 "What is a "Provisional" affiliated package?"
In the [table of affiliated packages](http://www.astropy.org/affiliated/index.html#affiliated-package-registry), there is no explanation of the "Provisional" column.

[2014-05-07 00:51] eteq opened #30 "Add a table of APEs that's auto-generated from github"
The [github API](https://developer.github.com/v3/) is really powerful and not too tough to use.  It should be possible to add a script to the astropy web site that queries github for the list of APEs (from [astropy/astropy-APEs](https://github.com/astropy/astropy-APEs)), and uses that to generate a table on the astropy web site, something like what we do now for the affiliated packages.

A few min

[2014-05-07 01:02] #28 closed, assigned to nobody

[2014-05-07 19:02] #27 closed, assigned to eteq

[2014-06-23 04:47] eteq opened #32 "Update contributor list on about page"
Once astropy/astropy#2562 is done, we should use the `getteam.py` script (or some other means, if there's some problem with that) to update the contributor list for the 0.4 release.

[2014-06-28 16:55] eteq opened #33 "Add "what can astropy do" to the front page"
Right now the astropy web site doesn't have much (pretty much nothing) in the way of "look, here's some cool things astropy does" on the web site.  We should add that, possibly on the main page, or possibly in the "about" section.

I'm imagining something vaguely along the lines of http://jquery.com/ , which has "A Brief Look" at the bottom showing key features.

This was prompted by @demitri sugg

[2014-07-16 16:40] #32 closed, assigned to eteq

[2014-07-27 04:01] mwcraig opened #36 "Broken link to logo with white text on Acknowledging Astropy page"
On http://www.astropy.org/about.html#acknowledge the link to the logo with white text in broken (look in the sentence under the astropy-powered image).

The broken link is: http://www.astropy.org/_downloads/astropy_powered.png

[2014-07-30 10:07] astrofrog opened #38 "Add imexam to list of affiliated packages"

[2014-11-06 21:44] astrofrog opened #41 "Add pyregion to affiliated package list"

[2014-11-06 21:44] astrofrog opened #42 "Separate table of provisional vs accepted packages"

[2014-11-27 10:49] sudheesh001 opened #45 "remove unnecessary escaping from regex _email_regex_str"
Currently the regex given by
`[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}` throws a warning for `Bad or unnecessary escaping`. I think this should be corrected to `[A-Z0-9._%+-]+@[A-Z0-9.-]+[.]{1}[A-Z]{2,4}` so that the hint stops throwing this warning. Both the regex essentially convey the same meaning.

Is this a good thing to change ?

[2014-12-01 14:35] #36 closed, assigned to nobody

[2014-12-07 11:34] astrofrog opened #46 "Add WCSAxes to affiliated package repo"
If we go ahead and merge https://github.com/astropy/astropy/pull/3183 then we should add WCSAxes to the list of affiliated packages (and I will move the repo to the astropy organization).

[2014-12-08 22:43] astrofrog opened #47 "Simplify install instructions?"
I think the MacOS X instructions on the home page (http://www.astropy.org/) should be updated:
- MacPorts is now no longer a good option compared to Anaconda, so it should definitely not be mentioned first. I think we can always put a sentence along the lines of 'Other options include MacPorts, Fink, etc.'
- I think Fink should also be a secondary option
- I personally think Anaconda and Ureka sho

[2014-12-10 18:59] astrofrog opened #48 "Add mention of 'powered by astropy' badge to website"
In the http://www.astropy.org/about.html page we should add a mention of this:

[code]

which gives:

[![astropy](http://img.shields.io/badge/powered%20by-AstroPy-orange.svg?style=flat)](http://www.astropy.org/)

More generally, the URL http://img.shields.io/badge/powered%20by-AstroPy-orange.svg?style=flat can be used to get this image.

Affiliated packages could use this in the README

cc @eteq

[2014-12-15 22:36] taldcroft opened #50 "Description of Astropysics as IDL wrappers"
In http://www.astropy.org/affiliated/index.html it says:
- Astropysics: library of IDL astronomy routines converted to Python.

That doesn't seem like an accurate description of Astropysics, but I'll leave it to @eteq!

[2014-12-18 04:30] #50 closed, assigned to nobody

[2015-02-21 07:32] sudheesh001 commented on #46
@astrofrog It looks like astropy/astropy#3183 has been merged. So this issue could be taken up and patched. Can you review if the following information is correct (and provide information where I missed out), I would be more than happy to send a Pull request.

[code]

[2015-02-21 09:24] astrofrog commented on #46
@sudheesh001 - yes, this looks correct, thanks! Please set stable to Yes and Provisional to Yes.

[2015-02-21 09:25] #48 closed

[2015-02-21 09:42] sudheesh001 commented on #41
@astrofrog Could you provide more information regarding this ? Is it this [link](https://pypi.python.org/pypi/pyregion) ?

[2015-02-21 09:57] astrofrog commented on #41
@sudheesh001 - yes, and the repository is here: https://github.com/astropy/pyregion

[2015-02-21 10:01] sudheesh001 commented on #41
Does this also fall under the category of
[code]

[2015-02-21 10:24] astrofrog commented on #41
@sudheesh001 yes, thanks!

[2015-02-24 16:28] sudheesh001 commented on #46
Fixed in commit b05d746 This is good to close @astrofrog

[2015-02-24 16:38] astrofrog commented on #46
Thanks @sudheesh001!

[2015-02-24 16:38] #46 closed

[2015-02-25 02:01] sudheesh001 commented on #41
Same here @astrofrog Good to close. :+1:

[2015-02-25 08:18] astrofrog commented on #41
Thanks!

[2015-02-25 08:18] #41 closed

[2015-04-22 10:15] cdeil commented on #38
`imexam` was added to the list of affiliated packages by @eteq in #39.
This issue can be closed.

[2015-04-22 10:36] cdeil opened #61 "Bug in contribute page header"
There's a bug in the contribute page header: the "astropy" text on the left that links to the main page is duplicated.

http://www.astropy.org/contribute.html

![screen shot 2015-04-22 at 12 33 56](https://cloud.githubusercontent.com/assets/852409/7272565/1bf47104-e8ec-11e4-9b62-c64fa92d5c1e.png)

[2015-04-22 10:42] cdeil opened #62 "Add link to tutorials page"
Currently there's no link to the Astropy tutorials page (http://www.astropy.org/astropy-tutorials/) from the web page (http://www.astropy.org/), so it's hard to find.

I guess it should be added in the header, but maybe then there's too many items for mobile devices?

cc @adrn @astrofrog

[2015-04-25 10:53] astrofrog opened #63 "Include affiliated package contributors in team page"
This page should include a list of affiliated package contributors (we need to decide whether to duplicate names already in the list of core contributors):

http://www.astropy.org/about.html

[2015-04-25 11:43] astrofrog opened #65 "Add new code of conduct to website"
Once it has been finalized, we should add the new code of conduct to the Astropy website! :)

cc @kelle @AlexaVillaume @eteq @astronomeralex

[2015-04-25 11:44] wkerzendorf commented on #65
I thought it should be finalized and send to `astropy-dev` first? I don't really care, but I thought that's what was discussed.

[2015-04-25 11:45] astrofrog commented on #65
Indeed! This is just a reminder that we should eventually add it to the website once it has been approved :)

[2015-04-27 12:22] AlexaVillaume commented on #65
I made the changes that I wanted to make to it. I think all the additional thoughts at the end have been addressed too. Are we waiting on anything before calling it finished?

[2015-04-28 16:27] embray commented on #61
Same issue on this page: http://www.astropy.org/help.html  But not on About or Affiliated Packages.

[2015-04-28 16:48] embray commented on #61
Should be fixed by #68.  Thanks @cdeil !

[2015-04-28 16:48] #61 closed

[2015-04-29 09:38] cdeil commented on #61
@embray - Thanks for fixing this!

[2015-04-29 20:29] embray commented on #62
:+1: @astrofrog ? @eteq ?  Any reason not to merge this?

[2015-04-29 20:29] embray commented on #62
IIRC on mobile view the header will collapse down to a dropdown menu so not a problem.

[2015-04-29 20:31] embray commented on #62
Confirmed, adding this just adds another menu item in low width mode, so it looks great IMO.

[2015-04-29 20:32] embray commented on #62
(When I say this I mean I just tried it locally; didn't realize at first this wasn't already a PR but I can make it one)

[2015-04-29 21:25] astrofrog commented on #62
:+1: from me in principle once there is a PR :)

[2015-04-29 22:06] embray commented on #62
Perhaps you've already seen, but there's a related issue at astropy/astropy#3661

[2015-05-05 16:00] eteq commented on #45
@sudheesh001 - can you be a bit more specific where this regex appears?

[2015-05-05 16:00] #38 closed

[2015-05-05 16:03] eteq commented on #63
Hmm... I'm not sure how we would go about doing this, @astrofrog.  A manual list I think would quickly spiral out of control and not be sustainable.  And because not all of the affiliated package follow the same docs format, I'm not sure how to automate scraping the list from the various doc pages...

Perhaps instead a set of links to all the affiliated package's author list pages? That's a bit mo

[2015-05-05 21:42] embray commented on #63
The current list includes even people who have made like one typo fix in the docs and have never since contributed again.  But I'm okay with that and I believe in crediting them.  So I'm not too worried about spiraling out of control so long as affiliated package authors take it upon themselves to credit their contributors here.  We could encourage that as part of being an affiliated package.

[2015-05-11 15:18] olebole opened #74 "https://www.astropy.org/affiliated/ does not work correctly"
Hi,

the SSL-enabled web page https://www.astropy.org/affiliated/ does not show the package registry. The table stays in the state "Loading...".

[2015-05-12 18:55] embray commented on #74
It's working for me, but only if I go to http, not https.  The latter gives me certificate errors (ssl_error_bad_cert_domain) which seems to be related to the site being hosted on GitHub and using one of GH's certificates.

[2015-05-17 18:41] astrofrog opened #76 "Split 'About' into 'About' and 'Community'"
At the moment, the 'About' section has information about the license, credits, citing astropy, and some high level information about the project. I wonder whether we might consider splitting into:

* About:
  * High-level description
  * Citing Astropy
  * License
* Community:
  * Team
  * Code of conduct
  * Also include links to mailing lists for example

[2015-05-17 18:42] astrofrog opened #77 "Make it easy to get links to sections"
It would be nice to be able to click on section titles or on a ¶ symbol next to them (like GitHub markdown) to get a link to a section.

[2015-05-18 18:17] eteq commented on #76
I guess I'm -0 to this.  My main concern is that I suspect *fewer* people will see the "community" stuff, because my feeling is that people are not that likely to have a reason to go to that part of the page.  In some sense, right now, "about" is a way of forcing people to see the author list and such when they want info about the project.

But that's not too strong of an opinion, hence the 0.

[2015-06-14 05:09] eteq commented on #42
Closed by #44

[2015-06-14 05:09] #42 closed

[2015-06-14 05:11] eteq commented on #74
I'm seeing the same as @embray.  @olebole, did you see a link to the https version somewhere?  I didn't even realize that existed (as @embray said, it's all hosted behind the scenes by github).

[2015-06-14 05:12] eteq commented on #65
Was just going through and noticed this - it was added in #75, so I'm closing this

[2015-06-14 05:12] #65 closed

[2015-06-14 05:14] eteq commented on #63
I'm ok with your suggestion @astrofrog - I'm concerned it will be either annoying to manage or highly incomplete, but neither of those are the end of the world.

I would say to make it a bit easier we should have a clear policy along the lines of "any PR editing that list has to be accompanied by a statement from an affiliated package author that it's a real contributor".  That way there's at leas

[2015-06-14 07:31] astrofrog opened #80 "Provisional/non-provisional packages split the wrong way around"
@eteq - FYI the tables for provisional vs accepted need to be swapped. I can try and open a PR later.

[2015-06-14 08:06] olebole commented on #74
All on Firefox (Ubuntu) and Iceweasel (Debian):

With http, all is OK. When I load it with https, I first also get a certificate warning. When I then allow the page to display, the table stays as hown in the image:
![affiliated-https](https://cloud.githubusercontent.com/assets/397223/8147759/093223c2-127c-11e5-8c9b-f55577846eb3.png)

The error console then shows (sorry for German; should be unders

[2015-06-15 15:57] embray commented on #74
Ah, it looks like it's defaulting to blocking non-secure external resources when accessing the site via HTTPS.

[2015-06-15 16:00] embray commented on #74
I believe full HTTPS support on GitHub pages hosted sites is still an open issue.  See isaacs/github#156.

So I think the only practical solution would be to switch to a different hosting provider.  However, there's also nothing on astropy.org that I think necessitates HTTPS.  I'm not really a strong believer in HTTPS-all-the-things when it comes to sites that users don't send any data to.

[2015-06-15 16:03] olebole commented on #74
I'd agree in this. However, there are people who just use https (and don't change the default in their browser), and they will run into this error.

[2015-06-15 16:06] embray commented on #74
Too bad for them I guess?  I would tend to think people making such settings are going to be aware of the potential drawbacks, and look to it when something doesn't work.  For example I have my browser set to reject *all* cookies by default, so I'm generally aware that when something on a site isn't working I probably have to look at what cookies it's trying to set.

[2015-06-15 16:07] olebole commented on #74
Maybe switch off https completely until it works? If parts are non-secure, it is useless anyway.

[2015-06-15 16:08] embray commented on #74
That's not something we have any control over.

[2015-06-15 16:39] mdboom commented on #74
Using `//` rather than `http://` at the front of the URLs that fail to load should be enough to fix this (since the Google CDNs support `https`).

[2015-06-15 16:40] mdboom commented on #74
(I'd like to assign myself here, since I'm working on it, but I'm not part of this org, I guess?  @eteq)

[2015-06-20 07:33] eteq commented on #74
@mdboom - added you to the org and assigned you

[2015-06-20 07:37] eteq commented on #74
Also :+1: to the @mdboom's suggestion if it turns out that makes it work.

Another thing I just noted: https://astropy.github.io/affiliated *does* appear to work... Presumably that means the problem is more in the forwarding of the astropy.org domain then?

[2015-06-20 08:35] eteq commented on #80
Whoops, you're absolutely right - will fix this.

[2015-06-21 17:44] #80 closed

[2015-06-21 17:48] eteq opened #83 "Make affiliated package page include descriptions"
As discussed in #79, now that there's a "description" section in the registry, we should have this be reflected in the affiliated package pages.

The question is where.  The table seems sensible, except that it already has a lot of content and long text descriptions might make it hard to read.  (Although perhaps shortening some of the content in the tables would help this, as @astrofrog suggested

[2015-07-31 13:54] astrofrog opened #87 "Remove mention of binary installers on PyPI for Windows?"
@embray - since you mentioned on the list that you are no longer providing these, should we update the front page of the website?

[2015-07-31 14:29] embray commented on #87
Perhaps so.  But I would like to get wheel builds up for Windows.  So maybe it should be changed to mention wheels instead.  (But not until I've actually done it.)

I'll try uploading those today and see how it works out.

[2015-09-10 18:46] #74 closed

[2016-03-22 20:34] jakevdp opened #102 "Clarification re: Python 2 and affiliated packages"
The [affiliated package info](http://www.astropy.org/affiliated/#affiliated-instructions) specifically mentions Python 3.x compatibility, but not Python 2.x. Is Python 2.x optional, or merely implied? I think it would be helpful to clarify that section. Personally, I would be in favor of pointing to tools like six and python-future and recommending single-codebase Python 2&3 support.

[2016-03-27 16:07] cdeil commented on #62
If I understood correctly the tutorials will be removed in favour of the example gallery?
Closing this issue.

(If some action is needed, please open a new action describing what to do.)

[2016-03-27 16:07] #62 closed

[2016-04-11 18:31] taldcroft opened #105 "Place the NumFOCUS digital stamp on astropy home page"
From the NumFOCUS communications director:

We'd really like to make sure that our relationship to sponsored projects is clearly delineated on each project's individual website. To that end, we're requesting all sponsored projects to take the following steps:

Please post the NumFOCUS [digital stamp](https://drive.google.com/open?id=0BwwsN83Hnz4XSDFzX1h5M0M1QVk) on the homepage of your website (at

[2016-05-16 11:58] astrofrog opened #107 "Deprecate tutorials.astropy.org?"
Now that the tutorials are in the main Astropy docs, we should probably remove the page currently at tutorials.astropy.org and redirect instead to the main docs?

cc @eteq @kelle @adrn

[2016-05-17 18:12] kelle commented on #107
Are you referring to the gallery? I may have missed something and/or not fully understand what you mean by the "tutorials are in the main Astropy docs". If you are referring the gallery, it was not my understanding that we intended the gallery to replace the tutorials but rather supplement them.

[2016-05-17 18:19] astrofrog commented on #107
@kelle - yes, sorry, I realized that after - will close this for now!

[2016-05-17 18:19] #107 closed

[2016-06-14 09:10] embray commented on #47
Apropos nothing to do with Astropy, I was on the website for [certbot](https://certbot.eff.org/) and right on their front page they have a really slick example of this that we could borrow from--somehow I immediately thought of this issue.

Something similar for Astropy would be great.  It doesn't even have to be quite as detailed (that is, in most cases I don't think Astropy needs instructions fo

[2016-06-14 10:18] astrofrog commented on #47
@embray - yes, that would be great!

[2016-06-28 15:51] taldcroft opened #112 "Basic formatting tags not working because of base CSS redefinition"
The base CSS for astropy.org starts with a definition that basically removes useful HTML formatting tags like `<it>, <sup>, <strong>` etc.  I understand wanting to have a highly uniform and simplified look, but it seems like this is going too far.  In particular now I want to use `<sup>` and it isn't possible.  This is something that a [SO post](http://stackoverflow.com/questions/501671/superscrip

[2016-08-08 16:46] eteq opened #114 "Make roles footnotes in-page hyperlinks"
We merged #111 from @taldcroft adding all the roles to http://www.astropy.org/team.html . One quirk there: the footnotes don't seem to be live links.  Were they supposed to be, @taldcroft?

[2016-08-09 11:27] astrofrog commented on #114
It might also be nice to make just the footnote number blue once this works, not the name?

[2016-08-22 15:52] adrn opened #116 "Include brief descriptions of affiliated packages in registry table"
It would be useful if there were short descriptions of each affiliated package in the registry table here: http://www.astropy.org/affiliated/

I wonder if this is something we can insert automatically using the "Summary" from pypi?

[2016-08-26 12:46] astrofrog opened #117 "Add a section 'Astropy is used by'"
It would be nice to have somewhere maybe on the front page where we can show organizations that we know use Astropy (e.g. STScI/JWST, etc.)

[2016-08-30 14:43] taldcroft commented on #114
The intent of the all-blue entry was to make it stand out a bit.  But if that is too much then it is easy enough to remove the colors entirely.  Having only the footnote in blue would not be of much value since for a tiny number there is visually very little difference between blue and black.

[2016-08-30 14:47] taldcroft commented on #114
About the original issue, I did not intend to make the footnotes live links.  I figured the table is short enough and people should generally be aware of the way footnotes worked for the first ~thousand years of writing before HTML.  :smile:

[2016-08-30 19:38] eteq commented on #117
Maybe we should start collecting a list of them?  Some that I know of:

* NASA
* STScI (strictly speaking not the same as NASA)
* CXC/Harvard CfA (@taldcroft might know better what the best name/logo is for this)
* LSST
* the Norway Mapping Authority

[2016-08-30 19:41] eteq commented on #117
Perhaps this should also go in a section with "supported by"?  So that would probably be just STScI and CXC?

[2016-08-31 01:07] taldcroft commented on #117
I'm not aware of anyone else in the CXC who develops astropy, so the "supported by" statement might be a little thin (though I personally spend most of my science time on Astropy).  What is definitely true is that the CXC uses astropy to support spacecraft operations, and Sherpa is now using astropy.

I'm sure there are more projects at CfA.  Maybe I should send an email to our pythonusers list as

[2016-08-31 01:10] taldcroft commented on #117
![image](https://cloud.githubusercontent.com/assets/348089/18112515/350997e6-6ef6-11e6-8ca8-ce2864b0a01a.png)
http://cxc.harvard.edu/symposium_2007/imgs/cxc-logo.gif

[2016-09-01 16:33] bsipocz commented on #117
@eteq - What about Subaru and Gemini?

[2016-09-01 17:00] astrofrog commented on #117
Maybe we could send an email to the list to ask people which pipelines/organizations they know astropy is being used in? (we don't want to know about person X at some institution is using it, but rather that it is being used for official software for the telescope/pipeline/organization, so we would need to make that clear). And we can ask at the same time for permission to include their logo on th

[2016-09-26 16:55] demitri commented on #117
I would recommend finer granularity. List the institutions together, sure, but also list individual projects/pipelines. [SDSS](http://www.sdss.org) definitely uses Astropy, but [MaNGA](http://www.sdss.org/surveys/manga/), [APOGEE](http://www.sdss.org/surveys/apogee-2/), and [eBOSS](http://www.sdss.org/surveys/eboss/) should be listed. JWST and Hubble, for example, should be individually listed in

[2016-09-26 21:00] bsipocz commented on #117
Ohh, this was the thread I remembered on twitter, it's great @demitri that you've found it.

[2016-09-27 16:38] taldcroft opened #127 "Add David Shupe to TBD role(s)"

[2016-09-27 19:04] eteq commented on #127
we're going to deputy him for constants and then maybe `wcs` once we figure out the lead situation

[2016-09-27 19:07] eteq commented on #127
@taldcroft will e-mail re:constants, and @eteq re: wcs

[2016-09-27 20:16] eteq commented on #114
Hah, ok, fair enough.  I think the blue made me think link, but this is fine, so I'll just close this.

[2016-09-27 20:16] #114 closed

[2016-10-04 14:00] jhunkeler opened #130 "Replace Ureka reference"
On the landing page, Ureka should be replaced with AstroConda (http://astroconda.rtfd.io). Ureka is no longer actively developed/maintained as of 04/2016. It will remain available for download indefinitely for anyone that needs it, however the packages are already >1 year out of date.

[2016-10-16 18:13] bsipocz opened #133 "Adding regions to affiliated package list"
Isn't regions an affiliated package? If yes, can we add it to the list?
https://github.com/astropy/regions

[2016-10-20 07:28] astrofrog opened #134 "Rename repository to astropy.org?"
We should either change the repo name to astropy.github.io or astropy.org - any objections? (I prefer the latter)

[2016-10-21 15:41] eteq commented on #76
I think this has become irrelevant since the addition of the team section, so closing...

[2016-10-21 15:41] #76 closed

[2016-10-22 09:48] astrofrog commented on #76
What about renaming Team to Community or People though? (to make it more open?)

[2016-10-26 16:00] eteq commented on #127
@taldcroft - can you confirm whether you've contacted David about this?  I was going to wait on your initial email before contacting him re: wcs

[2016-10-26 16:03] eteq commented on #134
@astrofrog - doesn't that break everything?  I think the repository name has to be ``<something>.github.com`` to for with Github pages?

[2016-10-26 16:03] eteq commented on #134
(because otherwise the URL is ``astropy.github.io/astropy.org`` or something like that

[2016-10-26 16:05] eteq commented on #134
I'm getting this from the first two steps of https://pages.github.com/

[2016-10-26 17:44] taldcroft commented on #127
@eteq - just sent email.

[2016-10-26 17:58] astrofrog commented on #134
@eteq - ah of course, sorry - wasn't thinking straight. Still worth changing to ``.io`` instead of ``.com``?

[2016-10-26 18:01] taldcroft commented on #134
I am Ok with changing to `.io`.

[2016-10-26 18:38] eteq commented on #134
I'm OK in principal with changing it to ``.io``, but I'm worried there might be side-effects?  We'll have to update the DNS but that's fairly transient... but are there search engine problems or links to this repo in documentation floating around that we might forget to update?

(Maybe not - I'm genuinely asking, but it never occurred to me that this repo might change names so I may be guilty of e

[2016-10-26 19:06] taldcroft commented on #134
I thought that github automatically does the redirect.  I can type `astropy.github.io` and `astropy.github.com` and they both redirect to `astropy.org` (as shown in the browser URL window).  Likewise `python4astronomers.github.com` redirects to `.io`.

But maybe I'm missing some pesky details.

[2016-10-26 20:34] eteq commented on #134
Ah, I didn't realize that - that fixes the DNS concern, but for the documentation I'm more concerned about the link to the *repo*: https://github.com/astropy/astropy.github.com.  For example, there's a link on http://www.astropy.org/affiliated/ that points there which will break if we rename it.  Obviously we can fix that one but I'm worried that there are others more deeply buried (forum posts, a

[2016-10-27 13:24] astrofrog commented on #134
Normally GitHub auto-redirects when repositories are renamed. But to be honest I don't feel strongly about this, and we could just close this. I'm easy going :)

[2016-10-30 14:10] astrofrog commented on #117
List from a brainstorming session at ADASS:

* James Webb Space Telescope (JWST) pipeline : https://github.com/STScI-JWST/jwst
* Gran Telescopio Canarias (GTC) pipeline for EMIR (Infrared MOS)  https://github.com/guaix-ucm/pyemir  and MEGARA (Optical MOS and IFU) https://github.com/guaix-ucm/megaradrp
* Hubble Space Telescope (HST) Pipelines  (STScI)
* JWST and HST instrumentation support and data

[2016-10-30 14:17] astrofrog opened #138 "Finer grained stability levels for affiliated packages"
One of the items of feedback that came from ADASS (specifically @cdeil mentioned it to me) is that we should probably have the equivalent of:

http://docs.astropy.org/en/stable/stability.html

for affiliated packages. The different levels I imagine are:
- In early development, very incomplete
- Partially stable, but still incomplete
- Stable, still some development
- Feature complete

We could use

[2016-10-31 10:03] cdeil commented on #138
Just to give my 2 cents: this came out of the "small group discussion" from two people new to Astropy from our group.

If you use such levels, you could also consider re-using the standard Python classifiers instead of re-inventing new ones:
[code]

Personally I'm not sure if one such level is enough info for people to make decisions if / for what applications they could / should use a given packa

[2016-10-31 11:44] taldcroft commented on #138
Excellent idea overall.

On the suggestion of  using the Python classifiers, while that is of course sensible, my feeling if that those classifiers are not immediately meaningful to a big fraction of our audience.  We could of course provide translations, but I really like the 4-colored dashboard.

The one thing in the Python classifiers we are missing is `Inactive`, and that would be something to

[2016-11-02 00:30] bsipocz commented on #138
I really like this idea, thanks @cdeil for raising this.

However traffic lighting (especially flagging red) makes me a bit worried about scaring people off trying out some of the rapidly developing packages. I'm not sure how often an average user would check the status of packages again and again.

[2016-11-02 08:37] astrofrog commented on #138
Good point about the colors - I think something like our current stability page (no red) would make more sense than actual traffic light colors.

[2016-11-02 19:36] eteq commented on #134
To be clear, I do think this is a good idea on balance, I'm just afraid it will break something...

[2016-11-02 19:36] eteq commented on #117
Whoa. That's a pretty impressive list.

[2016-11-02 22:59] taldcroft commented on #134
At the end I would vote to just close this.  Benefit vs. risk doesn't seem high enough.

[2016-11-03 09:17] #134 closed

[2016-11-15 16:44] pllim opened #140 "Support https"
As mentioned in astropy/astropy#5474, `astropy.org` does not currently support secure connection via https. Maybe it should?

[2016-11-16 15:15] bsipocz opened #141 "Links to affiliated packages"
For a few long standing affiliated packages there are pages under astropy.org (e.g. http://astropy.org/astroquery and http://astropy.org/montage-wrapper and possibly others).

I propose to remove these pages and use the pointers to either point to the websites of the packages listed in the registry, or to their RTD docs page. It can be a bit fine grained, too, e.g. packages with provisional status

[2016-12-02 02:43] taldcroft commented on #30
Doing something slick with the GitHub API would be great, but since it hasn't happened in 2.5 years, what about someone taking a half hour and just making a plain old RST or HTML index table and sticking it somewhere?  It seems like the astropy docs would be a useful place and probably the most discoverable.  In fact I've always thought about "publishing" the APEs from astropy-APEs within the astr

[2016-12-11 19:13] granttremblay commented on #117
This is a really lovely idea.

What if this were a simple section at the bottom of the "About" page?

Very simple prototype example attached. Thoughts?

<img width="974" alt="screen shot 2016-12-11 at 11 11 08 am" src="https://cloud.githubusercontent.com/assets/2238418/21082569/d70b105a-bf92-11e6-9f51-a0344848eb2a.png">

[2016-12-11 22:40] granttremblay commented on #117
I should add, given most institutes' branding guidelines, that we'd probably need to ask permission to show their logos.

[2016-12-12 15:34] taldcroft commented on #117
Looks great!  At the bottom of the About page seems like a fine location.

Not clear how big of a project it is to get permission for all the logo's, so I wonder in the short term if the simple bulleted list of institutions would be a good start.  This could be preceded by some disclaimer that this does not imply institutional endorsement of the Astropy project, merely that the project is known to

[2016-12-12 15:58] astrofrog commented on #117
What about adding a sentence that allows people to contact us to ask for addition/removal of logo?

[2016-12-12 20:21] granttremblay commented on #117
That would be way easier, @astrofrog. In this case it might be far better to beg forgiveness than ask for permission. Anyone actively against a simple disclaimer that combines the suggestions by @astrofrog and @taldcroft ?

If not, I'll draft up the new section and issue a PR for review.

[2016-12-12 20:43] kelle commented on #117
+1 for forgiveness > permission and a small, simple disclaimer.

On Mon, Dec 12, 2016 at 3:21 PM, Grant Tremblay <notifications@github.com>
wrote:

--
Kelle Cruz, PhD — http://kellecruz.com/
917.725.1334 — Hunter: x16486 — AMNH: x3404

[2016-12-12 21:59] demitri commented on #117
Use the logos; don't ask for permission. It's not illegal to use a company's/institutions's logo. They are public entities. It is illegal to use it in a manner that suggests that they endorse or represent the service or product. The wording at the top of the page should make this clear.

The branding guidelines that you find are mostly written to dictate how the logo is used on the company's/insti

[2016-12-13 04:55] granttremblay commented on #117
Draft [here](https://htmlpreview.github.io/?https://github.com/granttremblay/astropy.github.com/blob/master/about.html). Let me know what you think!

When we reach consensus, I'll issue a PR.

[2016-12-13 16:25] demitri commented on #117
Great work Grant. May I make a few suggestions?

* Don't bundle surveys or even instruments together in a bullet point. Hubble should be it's own thing, JWST, etc. I would even go as far to list Hubble, JWST, and "other" STScI as three items. I don't think this is unreasonable or unfair padding - they are individually very large and well-funded missions. MaNGA, APOGEE, and eBOSS each have their ow

[2016-12-13 20:58] granttremblay commented on #117
Thanks Demitri! Nice suggestions. I'll draft up the table idea - more in a bit...

[2016-12-20 13:49] astrofrog opened #142 "Add link to http://astropy.userecho.com on website"
As discussed in https://github.com/astropy/astropy/issues/4673 and https://github.com/astropy/astropy/issues/1457 we should add a link to http://astropy.userecho.com to the website.

[2017-01-03 21:01] granttremblay commented on #142
Here's a quick draft of a simple link added to the Contribute section. Do we want something more prominent than this?
<img width="982" alt="screen shot 2017-01-03 at 3 00 27 pm" src="https://cloud.githubusercontent.com/assets/2238418/21622906/7e1f461a-d1c5-11e6-993f-aa1b22102185.png">

[2017-01-03 21:21] #130 closed

[2017-01-03 21:22] granttremblay commented on #130
Fixed! Thanks for the heads up, @jhunkeler.

[2017-01-05 23:01] eteq commented on #117
This looks great @granttremblay!

[2017-01-11 01:22] hamogu opened #144 "Add short description / keyword to affiliated table"
I recently looked for a affiliated package, but had forgotten the name. So, I looked the the table of affiliated (and provisionally affiliated) packages in the astropy docs. That table contains a lot of info that's relevant to package contributors (code repository, name of main maintainer), but little info for somebody that's looking for a package.

I suggest to add a summary/tagline/a few keyword

[2017-01-11 01:25] hamogu commented on #144
Oops, this is a duplicate of #83. I'll post the text there.

[2017-01-11 01:25] #144 closed

[2017-01-11 01:26] hamogu commented on #83
I recently looked for a affiliated package, but had forgotten the name. So, I looked the the table of affiliated (and provisionally affiliated) packages in the astropy docs. That table contains a lot of info that's relevant to package contributors (code repository, name of main maintainer), but little info for somebody that's looking for a package.

I suggest to add a summary/tagline/a few keyword

[2017-01-11 01:31] hamogu commented on #47
@astrofrog : This idea is so great, that somebody already implemented it: At www.astropy.org ;-)

[2017-01-11 09:09] astrofrog commented on #47
@hamogu the main issue is that the instructions on the main page are still too vague and some things need to be re-ordered. For instance, I don't think we should even mention fink anymore. For people who do use say MacPorts, it's not clear enough what they should do - hence my suggestion that once you've selected your operating system you should also pick your installation method and end up with a

[2017-01-11 11:01] hamogu commented on #47
We might then need instruction on how to find out how astropy was installed, too, specifically since many users have multiple python installations (system + anadonda + CIAO in my case) and potentially astropy is installed in more than one of them and users might not really track which versions they really use...

[2017-01-23 17:38] kelle opened #145 "add inclusivity statement to website"
Add to Footer.
"The AstroPy project is committed to fostering an inclusive community." and link to code of conduct.

this would close astropy/coordination#22

[2017-01-23 17:41] granttremblay commented on #145
Great idea, @kelle. We want this at the bottom of the landing page, i.e. right below "Support Astropy"?

[2017-01-23 17:56] kelle commented on #145
If it’s possible to add a footer to the webpage, that would be awesome. It
could also have the twitter handle, for example. But yes, at the bottom of
the landing page below Support Astropy is better than nothing.

On Mon, Jan 23, 2017 at 12:41 PM, Grant Tremblay <notifications@github.com>
wrote:

--
Kelle Cruz, PhD — http://kellecruz.com/
917.725.1334 — Hunter: x16486 — AMNH: x3404

[2017-01-23 19:55] eteq commented on #145
By "footer", do you mean something that stays visible independent of scrolling, Kelle?  Or like the thing at the bottom of, say Github, which has common info but is always at the bottom?

[2017-01-23 21:18] kelle commented on #145
at the bottom…that you see when you scroll to the very bottom. common info,
always at the bottom of the page (not the bottom of the screen).

On Mon, Jan 23, 2017 at 2:55 PM, Erik Tollerud <notifications@github.com>
wrote:

--
Kelle Cruz, PhD — http://kellecruz.com/
917.725.1334 — Hunter: x16486 — AMNH: x3404

[2017-01-31 16:20] adrn commented on #83
Yes, please!

[2017-01-31 16:24] adrn commented on #116
On second look, this looks like a duplicate of #83

[2017-01-31 16:30] #116 closed

[2017-01-31 16:33] adrn commented on #83
One alternative idea for redesigning to minimize clutter: default view for a row is just
Name, Short description

Click row to expand to get Stable, Maintainer, Docs link, Webpage, Long description

[2017-02-10 10:37] sudheesh001 commented on #45
It looks like this doesn't occur anymore. It was showing up on the error messages in the console when you open the website. Closing this.

[2017-02-10 10:37] #45 closed

[2017-02-23 03:54] kjordahl commented on #117
We use astropy internally at Planet Labs. Not because we are doing astronomy (though we are imaging the Earth from space), but because the NaN treatment in [astropy.convolution.convolve()](http://docs.astropy.org/en/stable/api/astropy.convolution.convolve.html#astropy.convolution.convolve) is so good.

[2017-03-22 13:39] mhvk commented on #83
Just came across the same problem as @hamogu and the same conclusion as @adrn - package name and description; click on it to get details.

[2017-03-27 20:46] taldcroft opened #152 "Add Brigitta Sipocz as lead "Core package release coordinator""
Per agreement of the Coordination Committee and Brigitta, she will be taking the lead role for Core package release coordinator.  Please update the Team page accordingly.

[2017-03-27 22:50] #152 closed

[2017-03-30 09:05] embray commented on #152
Congrats @bsipocz !  An obvious choice for the role.

[2017-03-30 13:11] embray commented on #47
@hamogu Again, see astropy/astropy#1807 :)

[2017-05-08 13:45] adrn opened #154 "Add documentation-related maintainers"
We should add maintainers to the Team page for Tutorials, Examples-gallery, and (maybe) the documentation content as a whole.

cc @kelle @eteq

[2017-05-11 09:04] kelle opened #155 "Improve pointers to tutorials, examples, etc."

[2017-05-11 09:19] kelle opened #156 "Revamp Getting Started"
The Getting Started page needs to be a much higher level overview with pointers to examples and tutorials rather than just a demo for how to import.
http://docs.astropy.org/en/stable/getting_started.html

[2017-05-11 09:51] kelle commented on #156
I put this issue in the correct repo. astropy/astropy#6043

[2017-05-11 09:51] #156 closed

[2017-05-11 12:54] kelle commented on #142
This looks good to me.

[2017-05-11 13:54] kelle commented on #33
copied and pasted from "About" page and added to top of main page. 15d1c0dfb79f5a6b9b8bf22eb9f473fbcad5380d

[2017-05-11 16:43] granttremblay commented on #142
Looks like we're no longer using UserEcho?

http://astropy.userecho.com/

[2017-05-11 16:45] bsipocz commented on #142
I hasn't really picked up, but I cannot recall that we officially abandoned it.

[2017-05-11 16:47] granttremblay commented on #142
Whoops! Nevermind - when I clicked the link a minute ago, it was 404ing for me. Works now.

I'll add the link to the site as above.

[2017-05-11 16:50] #142 closed

[2017-05-11 19:28] pllim opened #158 "Revive labcoat with Astropy logo"
http://astropy.logosoftwear.com/ does not have a labcoat selection anymore.

Moved over from astropy/astropy#5524 as @bsipocz suggested. @perrygreenfield will look into it.

[2017-05-19 20:35] eteq commented on #117
@granttremblay - @taldcroft  and I we were just thinking about this and realized we left this pretty much at "it's basically done".  Any chance you can finish this up as a PR?

[2017-05-19 20:36] eteq commented on #117
(although it may be good to wait on #159 ?)

[2017-05-19 20:37] granttremblay commented on #117
@eteq @taldcroft Absolutely, will do. I'll wait on #159 and issue a PR incorporating Demitri's suggestions

[2017-06-28 19:11] eteq commented on #158
😱  we must have our lab coat!

[2017-06-28 19:14] eteq opened #166 "Add a list of organizations that have supported astropy"
Prompted by the discussion in astropy/astropy#6299, I figured I should start a discussion here: should we have a place where we have logos of organizations that have in some way directly supported astropy development?  Some obvious inclusions would be STScI and CfA/CXC... Perhaps also LSST (depending on how @parejkoj intereprets some of his contributions).  I imagine there are others that I am les

[2017-06-28 19:15] eteq commented on #166
I should say that I *thought* there was already an issue about this, but couldn't find it.  But if anyone else sees it, feel free to close this as a duplicate...

[2017-06-28 19:31] taldcroft commented on #166
I only remember previous discussion about orgs that *use* astropy.

We probably want to say "directly or indirectly supported" to be clear that this may include institutional support of staff who are working on astropy in their discretionary time.

We might optionally allow for associating contributor names with the institutions.  This would probably give a vague indication of support level, and a

[2017-06-28 20:19] parejkoj commented on #166
I would certainly consider my contributions (handful of bugfixes, porting some LSST code) to be "support" of astropy by LSST. I can check further up the chain if any disagrees, but I'd be rather surprised if that were the case.

[2017-06-28 20:59] granttremblay commented on #166
This is a nice idea, and I'm happy to help implement it. The badges would nicely fit alongside #117.

[2017-06-28 21:28] bsipocz commented on #166
There is also google ;)

[2017-06-29 13:53] perrygreenfield commented on #158
OK, OK, I've added a labcoat product :-) I don't have my labcoat handy so I'm not 100% sure I've done it the same way. Please check and let me know if is acceptable.

[2017-06-29 16:36] pllim commented on #158
@perrygreenfield , logo on the wrong side. Here is a photo of my labcoat:
![img_20170629_120345](https://user-images.githubusercontent.com/2090236/27699204-851e1742-5cc7-11e7-8b04-22f999acd0a8.jpg)

[2017-06-29 18:32] eteq commented on #166
Ah, good point @bsipocz - we probably want to say GSoC (they have that nice logo at https://developers.google.com/open-source/gsoc/), strictly speaking, to not imply it's actual Google employees or something.

[2017-06-29 18:42] bsipocz commented on #166
Oh, sure. You got what I meant.

[2017-06-30 15:49] perrygreenfield commented on #158
As it turns out I just checked it before seeing the previous comment and revised it to be on the right side. Though the template designer didn't let me make it quite as big as I measured on mine (perhaps a half inch shorter if the designer shows it accurately)

[2017-06-30 15:51] pllim commented on #158
I can see the labcoat on the listing now, and with logo on the correct side. Thanks!

[2017-06-30 15:51] #158 closed

[2017-07-03 14:03] pllim commented on #166
If you want a badge, I made one for STScI using sanctioned color scheme:
[code]

Or you can just use the official STScI logo (several variants are available).

[2017-07-05 21:43] kelle opened #167 "Role archives and history page"
From @astrofrog:

[2017-07-05 21:58] kelle commented on #105
This should be high priority.

[2017-07-05 21:58] #155 closed

[2017-07-05 22:02] kelle opened #168 "add donate button"
dedicated donate button for astropy via numfocus.

I sent an email to numfocus to help get this moving.

[2017-07-05 22:09] bsipocz commented on #105
it's currently at the bottom of "about": http://www.astropy.org/about.html

[2017-07-05 22:16] kelle commented on #105
I think we should consider adding a footer so that this is on every page.

[2017-07-07 18:30] bsipocz opened #170 "Affiliate e-mail addresses"
I wonder whether it would make sense to create e-mail addressed under astropy.org for the affiliated packages, that can be then forwarded to the maintainers? Some already do this, but with gmail addresses (e.g. ccdproc@gmail.com), but it would be much nicer to have the ccdproc@astropy.org alias.

[2017-07-20 13:40] astrofrog commented on #145
+1 to this - @granttremblay, would you be able to make this change?

[2017-07-20 14:12] astrofrog commented on #168
See https://github.com/astropy/astropy/pull/6380 for the link to use

[2017-07-24 15:31] granttremblay commented on #145
Absolutely, @astrofrog. I'm finally getting my act together on this, and will be working on this (along with, e.g. #117) in a larger update that includes a new organization of the affiliated packages page (as discussed/requested by the coordination committee). More this week...

[2017-07-25 18:08] bsipocz commented on #145
@granttremblay - I think this could go in a separate PR in case #117 generates loads of comments and discussion again.

[2017-07-25 18:14] granttremblay commented on #145
Will do!

[2017-07-25 18:35] granttremblay commented on #145
Simple implementation proposed in PR #175

[2017-09-18 21:17] kelle opened #183 "make Astropy Project contributors gallery"
Notes copied and pasted from Coordination Meeting notes. (me and @taldcroft)
- Can just copy how Sunpy did it: http://sunpy.org/team.html
- Request headshot or other image
- Pic, Name, Github handle, Twitter username on gallery box.
- 150 words hover bio. About their contributions to the project. Optional: Where you work and work title/position.
- Coordination Committee first
- Anyone with a role:

[2017-09-18 21:25] kelle commented on #183
Reminder for us: after this url is made, add language and links to docs home:
"The Astropy project is made possible through the efforts of community members that perform numerous important roles. "
Community members" can be link to the new People page.
And add a link to "Team and People" or similar as the last bullet item in Getting Started.

[2017-09-18 21:27] kelle commented on #183
Once the code is worked out, I'm happy to help put together google form and circulate.

[2017-09-19 15:15] pllim commented on #127
Added him to `constants`, so we can close this?

[2017-09-19 15:16] pllim commented on #102
Astropy is dropping Python 2, so we can close this?

[2017-09-19 15:17] pllim commented on #87
Can we close this?

[2017-09-19 15:18] pllim opened #186 "Remove old versions of astropy from drop-down menu"
Remove old versions of astropy from drop-down menu under "Documentation" at the top nav bar at http://www.astropy.org/ .

[2017-09-19 15:37] pllim opened #187 "Better unify all packages under the astropy project"
As discussed during NY coordination meeting.

"What should external non-astropy people expect when they visit astropy doc (e.g., expectations for numpy and scipy are clear)? "

"Add graphical representation of the different relationships."

[2017-09-19 15:44] bsipocz commented on #187
Re the title: over at sunpy they did something similar with a gsoc project this year. Basically it's seamless for the user whether they're reading the core, or the affiliated documentation. And more importantly the headline menu stays, so it's really easy to browse around without the need hit the "back" in the browser.

[2017-09-19 15:49] bsipocz commented on #102
Actually I think we should change this with the upcoming python3 only core package. Mention only the python2 compatibility in the table, and require python3 as default?

[2017-09-19 17:13] stargaser commented on #127
It can be closed as far as I am concerned.

[2017-09-19 17:18] #127 closed

[2017-09-19 23:46] kelle commented on #187
Kelle sending email to @caldair to schedule a meeting.

[2017-09-21 15:26] eteq opened #190 "Update web site to reflect "Astropy Coordinated" and "Astropy Affiliated" package language"
As discussed at the CC meeting in 2017, we are going to "re-brand" the affiliated package/core package ecosystem to have "Astropy Project Packages" in addition to the affiliated.  Should re-write the words about that on the web site.

[2017-09-21 15:27] eteq commented on #187
I'm closing this in favor of #190 because that's I think what we settled on for the new separation-of-concerns

[2017-09-21 15:27] #187 closed

[2017-09-28 19:33] kelle commented on #83
this also just came up at the Madison Tutorial Sprint -- it's very hard to figure out what the packages do. short descriptions are needed.

[2017-09-28 19:35] astrofrog commented on #83
Yep, and actually a lot of the things in the table could be condensed, e.g. repo link could be github/bitbucket logo etc. We could even put each package on two lines/rows. At the moment the wrong kind of information is emphasized.

[2017-09-28 19:36] astrofrog commented on #83
By the way, the info *is* there in the JSON file, it's just not used for the HTML table.

[2017-09-28 19:40] hamogu commented on #83
We are already using the javascript "datatables" package in astropy itself (when you display a tables in the webbrowser).
I think this would also be an excellent use for that: See the example here:

https://datatables.net/examples/api/row_details.html

We can have all the top level info (package name, status, one line description) in the table and then fold out additional info (maintainer, repro l

[2017-09-28 19:41] kelle commented on #190
Now we're thinking the two labels will be "Astropy Coordinated" and "Astropy Affiliated" packages.

[2017-09-28 19:43] #87 closed

[2017-09-28 19:58] eteq opened #194 "Simplify role-changing machinery with json and js"
Right now it's a bit awkwardly complicated to update the roles - you have to update a special-format ``roles.txt`` file, and then run a script locally and remember to commit both with git.  That works for now, but A better system might be to:

- [ ] change ``roles.txt`` to a ``roles.json`` file
- [ ] use code like what we have in the affiliated package page to populate a table *from* the JSON usin

[2017-09-28 20:03] bsipocz commented on #190
oh, pity, I kind of liked the logic in the "Astropy Project packages" and "Astropy Affiliated"

[2017-09-28 20:12] astrofrog commented on #190
The issue was that it would be confusing because one could say that affiliated packages were packages of the astropy project but not astropy project packages...

[2017-10-04 12:45] RoberTnf opened #198 "License missing"
Down at https://github.com/PlasmaPy/PlasmaPy, we wanted to create a webpage and we're planing on basing it on this one, would that be allowed?

I suppose that you would want the same license for the webpage as https://github.com/astropy/astropy, but I wanted to make sure.

[2017-10-05 14:23] bsipocz opened #199 "citing the astropy ecosystem"
Once we have the few WIP papers out of the door, it would be nice to have a dedicated page for citing references like, e.g. this:
https://www.scipy.org/citing.html

[2017-10-06 02:52] eteq opened #200 "Update logo to focus on the "project""
As discussed in more detail in #193, the recognition of Astropy has improved enough that it's probably no longer necessary for the front page logo to say "A community Python library for Astronomy".  See #193 for a lot more discussion about the exact preferred logo, but it looked to me like this was the sketch of the one settled on:

![image](https://user-images.githubusercontent.com/346587/3126100

[2017-10-06 02:59] eteq opened #201 "Consider whether drop-down docs menu should include affiliated packages"
The [Sunpy web site](http://sunpy.org/) has a nice drop-down from the "documentation" menu that shows both the Sunpy package itself and some of the affiliated packages.  By contrast, the [Astropy site](http://www.astropy.org/index.html)'s documentation drop-down lists all the various older versions.

One could argue that it would be more useful to show some of the other packages in our ecosystem r

[2017-10-06 05:32] eteq commented on #190
A related but not quite the same topic: #201

[2017-10-06 13:36] bsipocz commented on #201
I would vote for having only the coordinated (and vaguely remember that this was the consensus at the cc meeting, too), and maybe we can have a link at the bottom to the affiliated package page. Otherwise that drop down will be super crowded.

[2017-10-10 16:34] granttremblay commented on #200
Attached are three updated designs. I've fixed the issue with the end of the snake's tail, and corrected the font to Source Sans (it was previously erroneously set to Open Sans).

@eteq would you prefer we "vote" / tweak the logo here? I can then make a PR on astropy-logo with the .svg and .png files for the "final" design that we decide upon.

![3-01](https://user-images.githubusercontent.com/223

[2017-10-10 16:48] bsipocz commented on #200
I would vote for the middle one.

[2017-10-14 10:07] bsipocz opened #203 "Introduce optional entries to the affiliate package registry"
Would it be possible to introduce entries in the affiliate package registry for the appveyor and RTD username? We use the registry file to populate the dashboard, and currently it's inaccurate at quite a few points as we try to populate it using incomplete data.

http://www.astropy.org/astropy-dashboard/status.html

[2017-10-14 11:00] astrofrog commented on #203
I don't have any objections to this as it shouldn't increase the JSON size much.

[2017-11-08 12:00] astrofrog commented on #133
Done in dd4be0acddab19fc489bb19c8ad0f89d3e3b3751

[2017-11-08 12:00] #133 closed

[2017-11-29 16:49] kelle opened #214 "Add new roles and people"
Several roles in the Learn ecosystem, Slack coordinator, and 2018 GSoC Coordinator.

[2018-01-22 18:42] bsipocz commented on #200
ohh, but I don't want to be the decision maker on the new logo...

[2018-01-26 13:26] astrofrog opened #219 "Make a page with infrastructure packages"
Now that we've done some of the work of splitting out generically useful infrastructure packages, we really should do a good job of advertising them. I was thinking that we should maybe rename the top-level 'affiliated packages' page to just 'packages', and in there we could have the core package, the infrastructure packages, and the affiliated packages.

Infrastructure packages:

* astropy-helper

[2018-01-26 13:28] bsipocz commented on #219
the new sphinx template

[2018-01-26 13:28] bsipocz commented on #219
and the not yet existing sphinx-astropy

[2018-01-26 13:30] bsipocz commented on #219
and maybe you want to list also pytest-arraydiff, though that was very much your effort on your own (and maybe pytest-mpl, but that's more logically belongs to mpl)

[2018-01-26 13:31] bsipocz commented on #219
(and there are a few borderline ones, like astropy-docker, and astropy-data?)

[2018-01-26 17:35] kelle commented on #214
being addressed by #215

[2018-02-07 17:16] apooravc commented on #186
@pllim If it's still needed, up to which version (from v0.1)?

[2018-02-07 17:27] pllim commented on #186
Unfortunately, that is not my call. A decision might be needed from @astropy/coordinators .

[2018-02-07 18:11] apooravc commented on #186
@pllim The issue #201 argues adding the astropy coordinated packages in place of older versions of the core package, with the core package at top in the drop-down list. Could you have a look?

[2018-02-07 18:13] pllim commented on #186
Again, that is not my decision to made. I simply opened this issue as a follow-up of some discussions but I don't manage the site.

[2018-02-07 18:37] bsipocz commented on #186
@apooravc - #201 will definitely need to be part of a bigger documentation and webpage overhaul, while this issue as @pllim  mentioned above needs a decision first.

[2018-02-07 19:07] apooravc commented on #200
@bsipocz @granttremblay @eteq If there's still a need for vote, I've created a poll out of those 3 designs above, respectively as "Image 1/2/3", here [Astropy logo poll](http://www.strawpoll.me/15023869)

[2018-02-07 19:16] apooravc commented on #77
@astrofrog If it's still needed, should I start adding those permalinks to a single page only or to every page at once?

[2018-02-07 19:39] apooravc commented on #105
@kelle @granttremblay Should I work on adding a footer to every page which would contain the code-of-conduct text & the NumFOCUS stamp or just add the stamp (as it is on "about" page) to homepage?

[2018-02-08 20:04] astrofrog commented on #105
@apooravc - the code of conduct full text is definitely too long, but if you can find a way to make a footer with the NumFOCUS stamp and a link to the astropy code of conduct that would be great!

[2018-02-08 20:05] astrofrog commented on #77
@apooravc - if you'd like to work on this, could you try as an example to add these kinds of paragraph markers to http://www.astropy.org/about.html so we can see what it looks like? (this is the page where I always need it when I want to link to the code of conduct specifically)

[2018-02-09 14:42] apooravc commented on #168
@astrofrog May I take this one up?

[2018-02-13 15:24] bsipocz opened #223 "Get core package contributors from the credits.rst file"
There is really no need to maintain the same list at two different places, we should instead get he list directly from the core package.

This should be easy to do for someone slightly more experienced in css/js than me.

[2018-02-16 18:50] apooravc commented on #223
@bsipocz Working on it.

[2018-02-17 13:37] apooravc commented on #214
@kelle This issue looks good to be closed as the PR is merged.

[2018-02-17 16:10] apooravc commented on #214
@kelle the issue could be closed now, PR is merged.

[2018-02-17 16:11] #214 closed

[2018-02-17 18:40] apooravc commented on #168
@kelle Working on it.

[2018-02-18 18:38] apooravc commented on #194
@eteq Working on it.

[2018-02-19 12:09] cdeil opened #505 "http://www.astropy.org/astroquery/"
@keflavich - Today I wanted to astro-query SIMBAD and Google pointed me here: http://www.astropy.org/astroquery/

It looks like an old project landing page, still mostly up-to-date, but not really anything in addition to https://astroquery.readthedocs.io . Is it worth keeping / maintaining http://www.astropy.org/astroquery/ in addition to https://astroquery.readthedocs.io ? or maybe just remove ht

[2018-02-20 13:36] apooravc commented on #167
@eteq @kelle where can I get the list of people previously in roles?

[2018-02-20 13:45] astrofrog commented on #167
@apooravc - there is no list currently, but the only ones I can think of are:

- Perry Greenfield (coordination committee)
- Mike Droettboom (lead for io.votable, wcs)
- Erik Bray (lead for io.fits)

[2018-02-21 17:10] #186 closed

[2018-02-23 16:23] eteq commented on #219
I think it's important this be more than a "list of links" as we start making the helpers more a la carte.

Because right now you get pretty much everything with the helpers, knowledge of good practices enabled by these tools sort of comes "for free" because template users see a thing and eventually try to figure out how it works. But in the goal of a la carte helpers we need a new mechanism... An

[2018-02-28 05:50] eteq commented on #200
Since there were 3 votes (@kelle gave a 👍 to @bsipocz's comment), I went ahead and merged #218.  So will close this.

(P.S. @apooravc - thanks for setting up the poll - in this case it wasn't necessary, but a good thought.  Just one thing to keep in mind: we try to keep history in the github issues/PRs, so if we *had* used that we'd want a comment at the end noting the results)

[2018-02-28 05:50] #200 closed

[2018-02-28 15:17] granttremblay opened #228 ""The Astropy Project" new logo SVG displays incorrect font on Windows and Mobile"
On my mac , the new logo looks just fine.

Having just tested it on Mobile (iOS Chrome+Safari) and Windows (Win10 / Chrome), however, the SVG displays the incorrect font and looks terrible.

![capture](https://user-images.githubusercontent.com/2238418/36795180-5811de6e-1c70-11e8-829b-3454f8c9a59e.PNG)

I am quite sure that this is because the font (Source Sans Pro) is not included in the CSS, whic

[2018-03-02 12:34] bsipocz opened #231 "Add reference field for affiliated registry"
It would be great to have a field for the preferred reference for the affiliated packages so it's easier for users to figure out what to cite.

[2018-03-05 12:17] DFEvans opened #233 ""Becoming an Affiliated Package" suggests Python 3 is still optional"
The instructions on "[Becoming an Affiliated Package](http://www.astropy.org/affiliated/)" talk about Python 3 compatibility being "encouraged", and that compatibility via the _six_ package is recommended. However, both of these statements are in disagreement with the linked [Coding Guidelines](http://docs.astropy.org/en/stable/development/codeguide.html#writing-portable-code-for-python-2-and-3) -

[2018-03-20 22:09] #194 closed

[2018-05-07 21:52] granttremblay opened #242 "A rotating set of new, pretty backdrops for the landing page"
The main landing page for the website looks great, but hasn't changed much in the past few years.

I propose implementing a (limited and curated) set of new backdrops against which the main Astropy logo is set.

We could potentially choose several new backdrops that could rotate (e.g., with each page load, or perhaps on a time cycle - say, every day or so).

A very quick example, which uses the go

[2018-05-08 14:47] #228 closed

[2018-05-08 14:51] granttremblay commented on #228
Fixed by #229

[2018-05-08 16:39] #145 closed

[2018-05-08 16:40] granttremblay commented on #117
This was first proposed back in 2016, so its high time I actually implement this. ;)

My apologies for the endless delay - will put something together (like the above, with the requested changes) and issue a PR.

[2018-05-08 16:47] granttremblay commented on #242
![](https://github.trello.services/images/mini-trello-icon.png) [New Pretty Rotating Backdrops](https://trello.com/c/TXIo7Ddg/3-new-pretty-rotating-backdrops)

[2018-05-08 17:41] bsipocz commented on #117
@granttremblay - I have a WIP project that looks into usage stats, so let me know if there are concrete questions to look for (e.g. github username for orgs to look into, etc.)

[2018-05-08 18:01] pllim commented on #242
Will this drain data plan on mobile devices? Something to consider.

[2018-05-08 18:02] granttremblay commented on #242
Good point! We could have a lightweight fallback image for all loads to a mobile OS.

[2018-05-09 17:31] granttremblay commented on #233
Thanks for the heads up, @DFEvans! I'll fix this with an upcoming PR.

[2018-05-09 17:32] granttremblay commented on #233
![](https://github.trello.services/images/mini-trello-icon.png) [Fix Python 3 Requirement Language https://github.com/astropy/astropy.github.com/issues/233](https://trello.com/c/uInmf93q/4-fix-python-3-requirement-language-https-githubcom-astropy-astropygithubcom-issues-233)

[2018-05-13 13:42] bsipocz opened #244 "Redirect astroquery"
`http://www.astropy.org/astroquery/` is a valid, but non maintained page, it would be nice to redirect it to the documentation. I'm not sure whether this issue belong to this repo, or just someone needs to do it on the server side beyond the repo?

[2018-06-20 09:33] astrofrog opened #250 "Vertical spacing in team page"
It looks like there is now too much vertical spacing in the team page:

http://www.astropy.org/team.html

<img width="1059" alt="screen shot 2018-06-20 at 10 32 32" src="https://user-images.githubusercontent.com/314716/41650146-4417de38-7475-11e8-83d7-8a73f3be7415.png">

Is this a result of the changes to the affiliated package page?

[2018-06-20 13:31] granttremblay commented on #250
Ooof, yes! I'm sorry! this is my fault - the team table will require a unique selector so as not to inherit the spacing of the affiliated table. Will try to fix this today and issue a PR.

[2018-07-12 05:36] pllim opened #251 "Affiliated Packages page outdated?"
#212 was merged over 4 months ago on Mar 2, 2018 to list `synphot` under affiliated package. However, I am not seeing it being listed at http://www.astropy.org/affiliated/index.html . What is going on? :scream:

Thanks!

[2018-07-12 05:50] pllim commented on #251
Along the same line, when is astropy/astropy-APEs#40 scheduled to take effect here?

[2018-07-12 11:50] bsipocz commented on #251
The APE is already in affect, check the colour of the tags for the "traffic light" system.

The missing package is weird though as it's definitely listed in https://github.com/astropy/astropy.github.com/blob/master/affiliated/registry.json#L695

[2018-07-12 11:54] granttremblay commented on #251
I'm in the car so will look into this later, but I have a hypothesis:

`synphot` would be listed after `specutils`, which might "break" the table because `specutils` has no review in the json registry. It's possible that anything alphabetically following specultils might be missing (!!). Will check when I get to a desktop.

[2018-07-12 12:23] bsipocz commented on #251
Ohh, yes that will be it.

`stingray`, `spherical_geometry` are also missing.

[2018-07-13 05:45] pllim commented on #251
:scream:  Thanks for looking into this!

[2018-08-19 19:32] astrofrog commented on #141
These pages are controlled by the gh-pages branches of those repositories. I think it's a bit difficult to do the redirecting you suggest since some affiliated packages may want to have their own website that are not docs

[2018-09-22 14:00] bsipocz opened #262 "Add total number of affiliated packages"
Would be nice to see the total at the top of the table.

[2018-09-22 14:03] #105 closed

[2018-09-22 14:28] adrn opened #263 "Acknowledgement / citation page has too much text"
I think we could simplify the discussion on the [acknowledging astropy page](http://www.astropy.org/acknowledging.html) to include a copy-pastable (latex) acknowledgement that cites both the 2013 and 2018 papers, and bibtex entry. (Yes, I think everyone should be citing both papers!) This is motivated by an email and feedback I received that it was hard to easily figure out how to cite Astropy now

[2018-09-22 19:10] adrn opened #264 "Enable HTTPS for Astropy site?"
Now that GitHub pages [supports SSL/HTTPS for custom domains](https://blog.github.com/2018-05-01-github-pages-custom-domains-https/), we should consider using HTTPS for the main Astropy site.

[2018-09-22 19:13] eteq commented on #264
In principal this is a great idea.  The one question I have is whether that's hard to do given our DNS provider.  Will look into this.

[2018-09-22 19:14] eteq commented on #262
👍

Should be relatively straightforward given that the table is already generated by js.  Just adding a "total #" and populating it at the end of the for loop probably will do it?

[2018-09-23 01:45] bsipocz commented on #262
yes, and I'll do this once I've found the js that does the table...

[2018-10-19 19:11] #262 closed

[2018-10-24 20:01] #198 closed

[2018-10-24 20:02] #250 closed

[2018-11-10 19:29] bsipocz opened #274 "Add section anhors for http://www.astropy.org/contribute.html"
I would like to be able to directly link to the contributing code section from this document. Let me know if anyone is against the idea.

[2018-12-05 20:31] adrn opened #282 "The horizontal rules on the team page are confusing"
I think it would be more readable if they grouped common roles instead of appearing every 4 lines (as it currently is)

[2018-12-05 20:37] eteq opened #283 "Remove the footnote stuff for roles"
As discussed at the coordination meeting 2018, we don't think the footnotes that say "Would prefer deputy role" should be removed. @astrofrog I believe wants to downgrade all of his leads with that footnote to deputy on that. I should probably do that.

[2018-12-06 08:03] #282 closed

[2018-12-10 18:28] pllim opened #287 "Add a FAQ page for new contributors"
Q: I want to contribute. Please tell me how to start.
A: (Point to dev guide and good-first-issue issues link)

Q: I want to fix this issue but I do not understand what is needed to be done.
A: (Pick something else, worded in a nicer way)

Q: Can I work on this issue?
A: If you do not see any PR linked to it already that is trying to fix the same thing, then no one is stopping you.

Q: Do I have t

[2018-12-10 19:53] astrofrog commented on #287
We should make sure this also links to ``CONTRIBUTING.md`` in the repo

[2018-12-17 20:35] pllim commented on #283
Is this the same as "change blue names to unfilled" as discussed at the meeting? I thought @adrn had a PR to do that but maybe I misunderstood.

[2018-12-17 20:46] bsipocz commented on #283
As I understand it is.

[2018-12-17 21:09] adrn commented on #283
I think this is different, but related, and not clear without the context of in-person discussions at the meeting 😄. As far as I understand, this issue also pertains to removing the bit of javascript / code that checks for a leading 1 and automatically turns names blue / adds the superscript. But @eteq can correct me if I'm misremembering!

[2018-12-17 21:10] pllim commented on #283
I am all for removing Javascripts.

[2019-01-07 21:33] kelle opened #291 "Update citation request to include zenodo DOI"
Daina said citing the paper is insufficient. We also need people to cite the actual code using the Zenodo DOI.

[2019-01-08 10:12] bsipocz commented on #291
Many people still cite the first paper only, so wishing them cite the zenodo DOI of the version of the code they are using is a very ambitious thought.

[2019-01-10 02:04] bsipocz opened #292 "Update the team page"
Many of the roles hasn't been updated according to what the decisions at the coordination meeting were. Any takers?

@adrn @astropy/coordinators

[2019-01-10 19:51] pllim opened #293 "No conda install astropy in landing page"
In astropy.org , it is either `conda update astropy` or `pip install astropy`. It does not take account of people using Miniconda and have to `conda install astropy`.

[2019-01-13 15:53] adrn opened #294 "Bibtex copy to clipboard is missing backslashes for journal shortcuts"
As reported by https://twitter.com/mpoessel/status/1084476039185793025, for example: "aj" instead of "\aj".

[2019-01-13 16:07] bsipocz commented on #294
Note: the links to the bibtex provides the right format, as well as `astropy.__citation__`, the bug only comes up in the  "copy to clipboard" javascript...

[2019-01-15 17:11] #294 closed

[2019-02-20 00:58] bsipocz opened #299 "Add infrastucture packages to registry.json"
So then QA tools can pick them up. We can have a `type` field, too that is either `infrastructure`, `coordinated`, or `affiliated`.

[2019-02-21 20:53] agarwalrounak opened #301 "Broken license link in the astropy site"
In http://www.astropy.org/about.html#license the link to the license file `LICENSE.rst` redirects to https://github.com/astropy/astropy/blob/master/licenses/LICENSE.rst which doesn't exist. This is happening because astropy's `LICENSE.rst` file was moved to the root of the repository in PR #[5919](https://github.com/astropy/astropy/pull/5919) but the correct path wasn't updated in `about.html`

[2019-02-21 20:53] agarwalrounak commented on #301
I will work on it

[2019-02-23 23:08] #301 closed

[2019-03-04 13:11] olebole opened #304 "Remove "Other astronomy packages" section?"
The affiliated packages page has a section "Other astronomy packages" that seems quite outdated nowadays. The kapteyn package is f.e. only for Python 2.6. These packages can't serve as recommendation anymore, at best they mislead visitors of the page.
IMO this section should be just removed.

[2019-03-04 18:57] bsipocz commented on #304
Do you have time to open a PR for this?

[2019-03-04 19:18] olebole commented on #304
Sure, I just wanted to see if it is opportune.

[2019-03-11 21:22] kelle opened #307 "add links to various Project dashboards"
I have just learned about two dashboards (made by @bsipocz and @sosey) which provide useful info about the status of the entire Project, including affiliated projects. These should be linked to somewhere, probably on both the About page and the Contribute page.
- http://www.astropy.org/astropy-dashboard/status.html
- http://www.stsci.edu/~sosey/affiliated_summary.html

[2019-03-11 21:37] bsipocz commented on #307
@astrofrog made it, I'm just a user here :)

[2019-03-12 02:05] smoh opened #308 "Is userecho used?"
in http://www.astropy.org/contribute.html.

It looks like the activity there has been pretty sparse for a while and perhaps the documentation needs to be updated. I hope this is the right place to raise this issue instead of astropy main.

[2019-03-12 02:57] bsipocz commented on #308
This is the right place indeed.

@pllim - what was the decision for userecho  during the coordination meeting? As I recall we said it should go as a dead end try, but I'm not 100% sure I remember right or just wishfully think.

[2019-03-12 18:41] pllim commented on #308
@bsipocz , here is the relevant summary from Coordination Meeting last year -- https://github.com/astropy/astropy/wiki/Minutes-for-Astropy-Meeting-2018#tuesday-dec-4-2018

[2019-03-12 19:15] bsipocz commented on #308
That reads to me that it's preferable indeed to remove the links to userecho from the docs linked above.

PR is welcome.

[2019-03-12 19:17] pllim commented on #308
I vaguely remember @astrofrog saying that he prefers to have a replacement in place first?

[2019-03-12 19:19] bsipocz commented on #308
It's not in the docs though ;) PRs for the replacement is welcome, too, but the current state is a bit confusing. Maybe we could just remove the link but not yet delete userecho?

[2019-03-15 15:23] astrofrog opened #310 "Contributors on team page should include coordinated packages"
We should make sure that wherever relevant, e.g. in the team page, we mention all contributors to the coordinated packages, not just the core astropy package.

[2019-03-18 10:27] #293 closed

[2019-03-18 17:03] pllim opened #311 "We need a documentation page for how to use the "greater documentation ecosystem""
Moved from astropy/astropy#6017. Originally opened by @adrn on May 8, 2017.

<hr/>

It should be prominent on the main page and should describe the vision for the documentation, examples gallery, and tutorials.

cc @eblur @kelle @eteq

[2019-03-18 20:21] #304 closed

[2019-03-20 05:13] eteq commented on #308
I agree with https://github.com/astropy/astropy.github.com/issues/308#issuecomment-472144528 here - remove the link since we don't really actively want to advertise it, but don't delete the content.

[2019-03-20 05:28] eteq commented on #168
@apooravc - revisiting this after a break... I think actually it makes sense to be in *both* - the astropy repo is for just the core package, and these donations go to the Astropy Project as a whole (which includes affiliated pakcages)

[2019-03-21 05:45] smoh commented on #308
Should the users direct feature requests to the astropy github repository? I'm happy to fix this (link) if I know how it should be changed.

[2019-03-21 05:49] bsipocz commented on #308
@smoh - no, we don't have a replacement for it, so just please remove the link. (The original vision was to have userecho for the long term feature wishes that may arch over several packages, e.g. "we need spectroscopy". this at the end proved to be neither very helpful nor picked up by the user community).

[2019-03-28 22:13] #308 closed

[2019-04-02 18:00] #168 closed

[2019-04-12 22:06] eteq commented on #264
Ok, I think I've got this working.  You'll see that "astropy.org" now redirects straight to "https://www.astropy.org".  So I think this is all done.

[2019-04-12 22:06] #264 closed

[2019-04-15 18:24] eteq opened #320 "Fix https://astropy.org access to work like https://www.astropy.org"
This is a follow-on to #264 (and partly prompted by astropy/pytest-astropy#18): while https://www.astropy.org works correctly, as does http://astropy.org,  https://astropy.org still gives a "not secure" problem that suggests the SSL certificates haven't been updated.

I *believe* I've updated everything following these GitHub guides:
* https://help.github.com/en/articles/securing-your-github-pages

[2019-04-15 22:33] saimn commented on #320
The redirection to https://www.astropy.org/ seems to be working now:
[code]

[2019-04-23 19:36] eteq commented on #310
Agreed, but more broadly we need a description of coordinated packages too...

[2019-04-24 14:02] pllim commented on #287
**Tips and Tricks page?**

Q: How do I generate API doc for only one page?
A: Example: `python -m numpydoc astropy.cosmology.FLRW.Odm`

[2019-04-24 18:21] astrofrog opened #322 "Add timeseries to roles"
I'm happy to be the Lead maintainer to start with

[2019-05-15 08:30] embray opened #323 "Add GitHub usernames to team page"
The team page lists names of subpackage maintainers but not GitHub usernames, which are not always obvious.

(One thing I miss from the Trac issue tracker is you could add sub-component "owners" who would be assigned to tickets relevant to their interest areas.)

In practice with Astropy a maintainer typically does this sort of triage manually but it would help for new contributors to get the righ

[2019-06-05 20:33] eteq commented on #323
Good point - the catch is that I think it might make the page start looking really busy if all names also had usernames.  Perhaps we should make the names instead be links to the github user page?

The easiest thing would probably be to insert a mapping of names to github into the javascript that generates the table and have it automatically replace the text with the relevant hyperlink...

[2019-06-06 16:28] eteq opened #326 "Re-arrange roles JSON to be more readable"
As brought up in https://github.com/astropy/astropy.github.com/pull/325#issuecomment-499260458 (and me internally every time I have to edit that section...), the roles.json file is very awkward to use for the sections with a lot of "sub-roles".  It would be better if instead of the form being:
[code]

instead it was something like
[code]
that would make updating the list a lot easier to read.  But

[2019-06-06 17:42] eteq commented on #320
Aha, so it is!  The internet apparently just needs a bit more time...

[2019-06-06 17:42] #320 closed

[2019-06-13 20:09] #322 closed

[2019-07-09 15:30] pllim commented on #326
I was just about to open an issue about this, and I am glad there is already one. :100:

[2019-07-09 21:33] eteq opened #333 "Revamp install instructions to be more dynamic"
I've seen several examples of this now, but the best one is probably this one: https://pytorch.org/ (screenshot at the bottom).  The idea is that there's a whole bunch of install instructions that get generated for various versions, platforms, etc.

![image](https://user-images.githubusercontent.com/346587/60924112-fe19a180-a265-11e9-95df-a98e8f775900.png)

I wonder if there might be a generic imp

[2019-07-15 19:20] ehsteve commented on #291
I was just looking for this actually as we are writing the sunpy v1.0 paper and wanted to cite the specific version of astropy that we are using which is 3.1. Unfortunately it looks like the Zenodo DOIs stop at [3.0.5](https://zenodo.org/record/2556700#.XSzRJKeZOL4) though v3.2 is out. Are you no longer using Zenodo to get DOIs or has that process stopped? @bsipocz @kelle?

[2019-07-15 19:28] bsipocz commented on #291
The process is not yet automated, and not yet incorporated in the release procedure. We're just behind things sometimes.

[2019-07-16 13:52] ehsteve commented on #291
@bsipocz are there any plans to add major releases like 3.2 and 3.1? I'd love to be able to appropriately reference that version in the SunPy paper. Thanks.

[2019-07-16 20:08] bsipocz commented on #291
Sure, what's your submission timeline?

[2019-07-30 18:39] ehsteve commented on #291
Before the end of August.

[2019-07-30 18:54] bsipocz commented on #291
ok, I try to get to the uploads then soon, but not right now :)

[2019-08-15 09:06] astrofrog commented on #140
Looks like this works now

[2019-08-15 09:06] #140 closed

[2019-08-15 09:07] astrofrog commented on #138
We've done something along these lines in our [new review guidelines](https://github.com/astropy/astropy-procedures/blob/master/documents/affiliated_package_review_guidelines.md)

[2019-08-15 09:07] #138 closed

[2019-08-15 09:09] astrofrog commented on #47
The instructions at astropy.org are now pretty simple, so I'll go ahead and close this :)

[2019-08-15 09:09] #47 closed

[2019-08-15 09:09] astrofrog commented on #63
We now do this for the coordinated packages: https://www.astropy.org/team.html

[2019-08-15 09:31] #77 closed

[2019-08-15 09:33] astrofrog commented on #83
We now include descriptions and user-useful information in the page: https://www.astropy.org/affiliated/index.html - I'll close this but feel free to open a new issue if you think we could improve it further.

[2019-08-15 09:33] #83 closed

[2019-08-15 09:43] astrofrog commented on #102
Sorry for dropping the ball on this. I believe it's no longer important to indicate if packages are Python 2-compatible in our overview page. In addition the affiliated package guidelines mention that not supporting Python 3 will become unacceptable on 1 Jan 2020 (see https://github.com/astropy/astropy-procedures/pull/132 for a clarification).

[2019-08-15 09:43] #102 closed

[2019-08-15 09:52] astrofrog commented on #154
We now have a **Documentation & examples maintainer** role in https://www.astropy.org/team.html

[2019-08-15 09:52] #154 closed

[2019-08-15 09:54] astrofrog commented on #190
Done by @eteq in https://github.com/astropy/astropy.github.com/pull/327!

[2019-08-15 09:54] #190 closed

[2019-08-15 09:58] astrofrog commented on #274
This should now work following https://github.com/astropy/astropy.github.com/pull/220

[2019-08-15 09:58] #274 closed

[2019-08-15 09:59] astrofrog commented on #310
This is now done in https://www.astropy.org/team.html

[2019-08-15 09:59] #310 closed

[2019-08-15 18:38] bsipocz commented on #63
We do have the maintainers listed, but not the contributors. It would be quite the task to merge all the lists (updating that list is already one of the pain points for doing an astropy release).

[2019-08-15 20:30] astrofrog commented on #63
Oh yes oops I misunderstood.

[2019-08-16 14:16] kelle opened #338 "Standardize language about NumFocus"
Edits need to be made on About and Contribute pages:

[Project Name] is a Sponsored Project of NumFOCUS, a 501(c)(3) nonprofit charity in the United States. NumFOCUS provides [Project Name] with fiscal, legal, and administrative support to help ensure the health and sustainability of the project. Visit numfocus.org for more information.

Donations to [Project Name] are managed by NumFOCUS. For don

[2019-10-02 17:49] bsipocz opened #345 "JS fix needed: multiple e-mail addressed in affiliated package register"
Currently it's not possible to specify multiple e-mail addresses for maintainers for an affiliated package resulting some only list the e-mail of only one of the maintainers. In other cases even when multiple addresses are listed, only the last one is being picked up.

[2019-10-23 13:36] #338 closed

[2019-12-02 18:02] taldcroft opened #358 "LInk to astropy "developer install instructions" is not appropriate / broken"
The link for astropy developer install instructions is https://www.astropy.org/index.html#dev, but that just shows the generic install to your conda environment.  It should probably be http://docs.astropy.org/en/latest/development/workflow/get_devel_version.html.

[2019-12-02 22:19] #326 closed

[2019-12-10 22:13] adrn opened #360 "Add new role on Team page for "copy editor""
Add @lglattly to the team page!

[2019-12-11 17:27] pllim commented on #299
I was just wondering about this. Technically, infrastructure packages are just as coordinated as the "formal" ones, if not more (out of necessity).

[2019-12-15 15:06] zdroid opened #362 "Archive the old website repo"
This one: https://github.com/astropy/old-astropy-website-src

To prevent possible necro-ing. Issues are not allowed, but that doesn't solve all possible mishappenings. I am unaware if there are other unofficially archived repositories, but they should be archived from settings aswell.

[2019-12-15 16:50] astrofrog commented on #362
I wonder if we should just push that repo to a branch here then delete the old repo

[2019-12-15 17:45] zdroid commented on #362
That's also a good idea, but it may require changing many legacy links (like in this repo's readme).

[2019-12-17 16:04] eteq opened #364 "Update roles list to combine Lead/Deputy"
As discussed and unanimously agreed to at the Astropy Coordination Meeting, we are combining the "lead" and "deputy" columns in the roles list.

This is conceptually straightforward but requires some re-work of the javascript...

[2020-04-08 19:00] zdroid commented on #362
Any news on this? I've seen some other repos on this organization archived.

[2020-05-02 19:19] #362 closed

[2020-05-15 16:55] astrofrog commented on #63
Coming back to this, what we need is to include anyone who has contributed to a repository in the astropy org (so core, infrastructure, educational, coordinate, but *not* affiliated packages). We can probably re-use the mailmap file from the core package.

[2020-05-15 16:56] astrofrog commented on #283
This was done a little while back

[2020-05-15 16:56] #283 closed

[2020-05-15 16:57] astrofrog commented on #292
I think the page should be up to date now?

[2020-05-15 16:57] #292 closed

[2020-05-27 12:35] #364 closed

[2020-07-01 19:16] pllim opened #386 "ENH: Special template for affiliated package review?"
Currently the PR section contains PRs from people requesting to be an affiliated package and also miscellaneous PRs (e.g., maintenance). Would be nice to have a GitHub template for affiliated package review and for everything else. Also see https://blog.axosoft.com/enhancing-pull-request-descriptions-templates/ (scroll to How to Create Multiple Pull Request Templates in GitHub) .

p.s. I think you

[2020-07-29 14:41] #358 closed

[2020-09-05 17:10] embray opened #393 "Add role on team page for operations / development / devops support"
I don't know exactly what to call this role yet, or if it should be multiple roles.  This was suggested to me by @pllim and @bsipocz both of whom would fall under this category, as would I.  Opening an issue to discuss the scope of this role.

[2020-09-05 17:17] bsipocz commented on #393
one, or multiple roles I would guess. Given the fragmentation of the page for other roles, these all should deserve their own category, unless of course people keeps insisting that, unlike social media, infrastructure is not important

[2020-09-05 17:21] embray commented on #393
Some of the existing roles should probably be nested as sub-roles under some larger devops category.  E.g.:

* Documentation infrastructure maintainer
* Astropy-helpers maintainer
* Testing infrastructure maintainer
* Package template maintainer
* CI-helpers maintainer
* Distribution coordinator (?)

possibly others, plus new roles not already listed.

[2020-09-05 17:49] bsipocz commented on #393
Roles being bloated up with names not doing the given roles is not helping either

should be cleaned up to contain names who work with astropy. Only two on that list gives any  feedback for packaging, bug reports and fixes

there are 5 people listed, who is involved in and responsible for the template?

names are not accurate, again. There has been a ton of issues with the plugins due to new pytes

[2020-09-05 17:51] bsipocz commented on #393
All of these above are well known and has been raised, at least at the coordination meeting last December. Nothing has changed since then.
(But it started before, see the motivation for my scipy talk last year, and my mediocre try to highlight the people who are actually behind these parts of the ecosystem)

[2020-09-05 17:56] embray commented on #393
Perhaps it is time for a full auditing of the Team page (this could go hand-in-hand with other issues like #167, #183, #323).  I think updates like these could make the project seem more welcoming and encourage newcomers to want to take on large roles within the project.

I will open a separate issue for such an auditing, and raise the issue on the mailing list.  This is also relevant to my plan t

[2020-09-05 18:06] bsipocz commented on #393
Good luck with that. The pushback for this from the CoCo big, as apparently everything is up to date with names. No wonder TomA's credit page didn't go ahead as it might have shown some discrepancies.

[2020-09-05 19:24] astrofrog commented on #393
I’d be very much in favour of grouping infrastructure/devops roles under a common heading

[2020-09-08 18:00] pllim commented on #393
Re: https://github.com/astropy/astropy.github.com/issues/393#issuecomment-687638618

Chopping it up too finely might be counter-productive. All these roles are filled by only a few of us anyway. So, I agree with Tom [above](https://github.com/astropy/astropy.github.com/issues/393#issuecomment-687651900).

I also agree with Brigitta that keeping the page accurate and updated is an ongoing problem,

[2020-09-08 18:01] pllim commented on #393
p.s. I briefly thought about auto-populating Team page from GitHub activities, but then it will devolve into Battle Royale of GitHub metrics, which is even worse.

[2020-09-08 18:23] pllim commented on #323
@embray , regard on your note about "links to github profiles and/or personal websites/social media" -- I am wary of the latter (personal website/social media) as some people might value privacy more than others, so if you want to do that, please make it opt-in only and optional.

[2020-09-08 19:09] bsipocz commented on #393
and the biggest issue is that roles are missing from the page. People spending significant time on the project are not listed on the page as they are generalists rather than sub-package owners, or they provide the overall oversight of devops and daily operation. No recognition but they face unsatisfaction all the time as their work is only ever noticed when parts of the CI stops working for reason

[2020-09-09 20:26] embray commented on #323
Definitely anything anyone wants to put on the team page, even including GH profiles, should be opt-in.  I think we need to create a database of some sort (as in a plain text file, such as a YAML file) where project contributors can add whatever they wish via a PR.  This is how the Software Carpentry project manages its [instructors page](https://carpentries.org/instructors/)

[2020-09-09 20:30] embray commented on #393
See also my comment here: https://github.com/astropy/astropy.github.com/issues/323#issuecomment-689802741  Putting this information in a kind of database might help make it easier to keep up-to-date.

[2020-09-09 20:34] pllim commented on #323
@embray , how is that different from what we already do (except the new concept of gallery)? We already have https://github.com/astropy/astropy.github.com/blob/master/roles.json and there are outstanding PRs to update it.

[2020-09-09 20:40] embray commented on #323
Oh I didn't realize that was the case.  I think what I had in mind was inverting it: By instead having a database of people, and for each person list any roles they adopt.  There could still be a separate file like the above containing additional metadata about each role.

[2020-09-14 14:25] astrofrog commented on #393
The docs and testing infrastructure maintainers are indeed very incomplete - for a start @bsipocz and @pllim should clearly be added to these roles. Maybe discussing how we want to organise and group the roles could be an agenda item of the first of the regular calls I was suggesting.

[2020-10-04 13:04] astrofrog commented on #117
IBM: https://www.zdnet.com/article/ibm-to-open-source-space-junk-collision-avoidance/ (code: https://github.com/IBM/spacetech-ssa)

[2020-10-05 09:55] taldcroft commented on #117
And not to forget the EHT and first black hole image, which got a nice shout-out in the NumPy nature paper!

[2020-10-05 11:06] hamogu commented on #117
I'm also a big fan of the "survey endangered animals with drones": https://www.ljmu.ac.uk/about-us/news/articles/2018/4/4/astro-ecology

[2020-10-05 13:56] pllim commented on #117
For sure, Nancy Grace Roman Space Telescope will use `astropy` too.

Didn't @bsipocz also mention Netflix at one point? 😸

[2020-10-07 14:05] #233 closed

[2020-10-09 15:47] pllim opened #402 "Use JSON schema?"
I see some scripts to validate JSON here. I wonder if there is value to use https://json-schema.org/understanding-json-schema/

[2020-10-13 16:49] eteq commented on #287
Q: How do I run the tests on a single file?
A: <link to the appropriate test guide section>

[2020-10-19 16:46] pllim opened #407 "Add a FAQ page for new maintainers"
Like astropy/astropy.github.com#287 but more focused on maintainers.

For example:

* What is tested on Travis CI and why?
* What is tested on Circle CI and why (as opposed to Travis)?
* What tests are matrixed via Tox as opposed to being build jobs in a CI service and why?
* What does ci-helpers actually do and why does it exist?
* Why is there a distinction between “final tests” and “comprehensi

[2020-10-19 16:47] eteq commented on #407
I'm just going to drop here the suggesting that it be an "IAQ" (Infrequently asked questions) :wink:

[2020-10-19 17:27] pllim commented on #323
This is now a pre-requisite for astropy/astropy-project#160

[2020-10-19 19:31] pllim commented on #407
Started a proof-of-concept implementation at #408 . FYI.

[2020-10-19 19:34] pllim commented on #287
Got a #408 POC for #407 started. This page should follow the style and placement of whatever we decide for #408.

[2020-10-24 19:15] pllim opened #410 "Remove inactive maintainers from coordinated packages"
I don't think the following people are actively maintaining anymore (ordered by last name):

* Steve Crawford
* Nick Earl
* Michael Seifert

xref astropy/astropy-project#162

[2020-10-26 22:09] astrofrog opened #412 "Reorder roles"
At the moment the roles are in a bit of a random order, as several infrastructure ones are separated. Things like devops, docs infra and testing infra should probably be listed together and before some more specific things like astropy-helpers and ci-helpers.

[2020-10-31 14:16] MSeifert04 commented on #410
I can confirm that I'm too inactive currently to fulfill my roles.

I've mailed at coordinators@astropy.org on June 10th about my resignation from the roles in astropy (and in a separate mail to matt and steve about resignation from ccdproc) but totally forgot to follow-up on the mail.

So I'm totally okay with being removed from the maintainer/deputy roles.

[2021-01-14 06:31] vrodgom opened #421 "statmorph package re-review"
Hello,

I recently made several improvements to the statmorph affiliated package and I believe that the scores can now be updated. The original PR and review can be found [here](https://github.com/astropy/astropy.github.com/pull/315).

I have implemented the vast majority of the comments and recommendations from the review, which was very helpful. Please find below my response to the points raised

[2021-01-14 19:31] pllim commented on #421
This package has been (re)reviewed for inclusion in the Astropy affiliated package ecosystem by a member of the Astropy community as well as myself, and I have synthesized the results of the review here.

You can find out more about our review criteria in [Reviewing affiliated packages](https://github.com/astropy/astropy-procedures/blob/master/documents/affiliated_package_review_guidelines.md). Fo

[2021-01-15 22:12] #421 closed

[2021-01-17 00:05] vrodgom commented on #421
Thanks! I have implemented the last few comments (about CI and package dependencies).

[2021-01-17 16:48] pllim commented on #421
Awesome. Thanks, @vrodgom !

[2021-02-15 17:20] #410 closed

[2021-03-09 15:28] pllim opened #424 "MNT: Rename default branch from master to main"
Please rename your default branch from `master` to `main` as part of astropy/astropy-project#151 , preferably by 2021-03-22. Also a friendly reminder to check documentation, workflows, etc., and update them accordingly. Please don't forget to communicate this change to your users and stakeholders. To summarize:

- [x] Rename branch from `master` to `main`, preferably by 2021-03-22.
- [x] Update do

[2021-04-12 14:56] eteq commented on #424
All set!

[2021-04-12 14:56] #424 closed

[2021-08-10 15:20] pllim opened #439 "Add Discourse forum link to Help page"
We use Discourse now right? I don't know where it is. I only get a digest once in a while. Someone who uses it a lot should link it to Help page. Maybe @Cadair ?

[2021-11-02 00:35] #203 closed

[2021-11-25 12:03] astrofrog commented on #393
This was actually done (https://www.astropy.org/team.html#devops_team) so closing!

[2021-11-25 12:03] #393 closed

[2021-12-17 21:41] dhomeier opened #459 "Status and Python 3 - compliance of omnifit package"
@hamogu noted earlier today that https://github.com/RiceMunk/omnifit appears to be the only affiliated package that has not been updated to Python 3 at this point. While the last release indeed dates more than 6 years back, development on GitHub has been ongoing, albeit slow.
In fact I was able to pip-install it from git+https://github.com/RiceMunk/omnifit.git under python3.9 without any issues, p

[2021-12-17 22:45] hamogu commented on #459
It seems that the last code merge was in 2019 - ans that was an automated upgrade from the astropy-template. Maybe reach out to the maintainers and see if they plan to maintain it?

[2021-12-18 10:40] dhomeier commented on #459
Yes, I missed that those were from automated requests – the last actual code maintenance indeed seems to have been in 2015. Does not mean it is no longer of use though.

[2021-12-18 16:37] dhomeier commented on #459
Discussion in omnifit/issues#38 shows there definitely are maintenance efforts going on. :)

[2021-12-21 20:42] pllim commented on #459
Looks like @dhomeier has advised the maintainer at RiceMunk/omnifit#43 . While I understand the maintainer isn't paid and all, we also cannot let rotting packages stay as Affiliated. Is it fair for me to propose adding to the formal policy that if we have started re-reviewing but glaring problem is not fixed in, say, 6 months, we remove the Affiliated status and they have to re-apply?

[2021-12-22 22:42] hamogu commented on #459
Whatever the current affiliated editors (i.e. @pllim and @dhomeier) deem reasonable is reasonable to me. On https://www.astropy.org/affiliated/ is already says "Use Python 3.x. Packages are allowed to be 2.x compatible, but must support recent versions of Python 3.x." and "Note however that if packages become unmaintained or do not meet the standards anymore, they may be removed from the list of a

[2021-12-22 23:37] dhomeier commented on #459
Agreeing on all of the above, in particular the bit about the time frame – especially as the mandatory 3.x support was not in effect the last time that package was updated. Also, Python 3 is no longer in fact an issue here (apart from the lack of a corresponding PyPI entry); the only problems at least as far as covered by the tests are related to the evolving unit support in Astropy+Numpy. And tha

[2021-12-23 16:27] pllim commented on #459
@dhomeier , do you want to tell the author about the 6-month grace period, perhaps starting 2022-01-01, and we will decide on 2022-07-01?

[2021-12-23 16:32] dhomeier commented on #459
The actual code fixes should be a breeze; I have zero experience with preparing stuff for PyPI, so cannot comment on that, but I guess most work will be getting a working test setup again, as it's still all based on Travis.

[2021-12-23 16:51] dhomeier commented on #459
Yes, I was mainly getting at whether there are any updated docs in the package template or such, which could be of help.

[2021-12-23 16:58] pllim commented on #459
Package template has template for CI via Actions but not Travis: https://github.com/astropy/package-template/tree/cookiecutter/%7B%7B%20cookiecutter.package_name%20%7D%7D/.github/workflows

As for PyPI, the project uses [publish.yml](https://github.com/astropy/pytest-doctestplus/blob/main/.github/workflows/publish.yml) but we do not impose it on affiliated packages, because the actual commands to

[2022-01-12 19:24] #459 closed

[2022-01-20 16:32] adrn opened #465 "Add Dunlap to Institutional Support list on credits page"
Add Dunlap to the Institutional Support list on the [credits page](https://www.astropy.org/credits.html).

[2022-02-03 15:54] Jenneh commented on #465
I'm planning to do this in the next couple of weeks as my first contribution.

[2022-08-11 14:54] mwcraig commented on #439
Closing since the link is now at https://www.astropy.org/help.html

[2022-08-11 14:54] #439 closed

[2022-08-11 14:56] mwcraig opened #498 "Add links to GitHub profiles of team members"
Other projects, like [numpy](https://numpy.org/teams/) and [scipy](https://scipy.org/teams/) do this.

It would make sense to me to start with lifetime contributors and proceed from there.

[2022-08-23 15:26] pllim opened #499 "Affiliated package listing not rendered correctly when maintainers have emails"
## Example 1: gammapy

https://github.com/astropy/astropy.github.com/blob/54f62ff9810955209060a70f09465752355d42e5/affiliated/registry.json#L340-L341

What happens: Both maintainers are linked to the same email (the second one).
Expectation: Each maintainer is linked to their own email.

## Others similar to gammapy situation

https://github.com/astropy/astropy.github.com/blob/5c9c6a8ad280ad69e0c6

[2022-08-23 20:31] pllim opened #500 "New page to list awards received"
Example: [2022 ADASS Software Prize](https://astropy.slack.com/archives/C067V74GK/p1660867645252449)

@adrn thinks this can be done by staffing https://github.com/astropy/astropy-project/pull/284

[2022-11-09 16:58] pllim commented on #500
@eteq -- the other one would be the RAS group medal from two years ago

[2022-11-14 22:36] eteq commented on #505
I gave more details in astropy/astropy-project#322, but I don't think this is possible if the desire is for 301- or 302-style redirects, because GitHub Pages doesn't seem to allow that.  I did offer an alternative in astropy/astropy-project#322 though (which I in fact already implemented) - see there for more discussion.

[2022-11-18 04:18] bsipocz commented on #505
Hurray for closing 5 year old issues 🎉

[2022-11-18 04:18] #505 closed